:root {
  --primery-bgc: #ffffff;
  --primery-text-color: #757575;
  --secondary-bgc: #f5f4fa;
}

body {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: #212121;
}
